#landing-page{
    margin:0;
    padding:0;
    background-image: url('/static/single_pages/images/back.jpeg');
    min-height:100%;
    background-position:center;
    background-size:cover;
}
.back {
    height:1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.card{
    background-color: rgba(255,255,255, 0.6);
}

.hr{
    margin:0;
}