{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container px-5">
    <div class="row gx-5 justify-content-left">
        <div class="col-lg">
            <div class="text-center my-5">
                <h1 class="display-5 fw-bolder my-3">게시판</h1>
                <p>미라클레터에 대해 자유롭게 작성해주세요.</p>
            </div>
        </div>
    </div>
</div>

  <div class="container my-3">
      <div class="row">
        <div class="col" id="main-area">
          {% block main_area %}
            <div class="table-responsive-md">
              <table class="table mt-5" >
                  <thead class="table-light table-bordered">
                    <tr class="py-3">
                      <th scope="col">#</th>
                      <th scope="col">제목</th>
                      <th scope="col">작성자</th>
                      <th scope="col">작성일</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for board in board_list %}
                    <tr>
                      <th scope="row">{{ board.pk }}</th>
                      <td class="col-5"><a class="text-decoration-none" href="{{ board.get_absolute_url }}" style="color:black;">{{ board.title }}</a></td>
                      <td>{{ board.author }}</td>
                      <td class="col-3">{{ board.created_at }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>

            {% if request.user.is_authenticated %}
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'board_create' %}" type="button" class="btn btn-secondary float-end">글쓰기</a>
              </div>
            {% else %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'login' %}" type="button" class="btn btn-secondary float-end">글쓰기</a>
                </div>
            {% endif %}
          {% endblock %}
        </div>
      </div>
      <!-- /.row -->

</div>
{% endblock %}
