.table>:not(:first-child) {
  border-top: 0;
}

.img-bg{
  background-image:url("/static/blog/images/mk-bg.jpg");
  background-position:center;
  background-size:cover;

}


ul, li{
    list-style:none;
    padding-left: 0px;
}

.wide-comment {
    height:150px;
}