<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" type="text/css">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- naver font -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'blog/images/favicon/favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'blog/images/favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'blog/images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'blog/images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'blog/images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'blog/images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'blog/images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'blog/images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'blog/images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'blog/images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'blog/images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'blog/images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'blog/images/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'blog/images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/ff4d9f2a1e.js" crossorigin="anonymous"></script>

    <!-- footer fixed CSS -->
    <link rel="stylesheet" href="{% static 'single_pages/css/base_style.css' %}" type="text/css">

    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div>
       <!-- navbar -->
      {% include 'single_pages/navbar.html' %}

      <!-- body block start -->
      {% block body %}

        {% if messages %}
        <div class="container" style="width:70%;" >
          <div class="alert alert-dark my-2 text-center" role="alert">
            <ul style="list-style:none;margin:0;">
              {% for message in messages %}
              <li>{{message}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}

        <div class="container"  style="min-height:650px;">
          {% block content %}

          {% endblock %}
        </div>

      {% endblock %}
      <!-- body block end -->

      {% block extra_body %}
      {% endblock %}

    </div>

    <!-- Footer -->
    <footer class="py-5 bg-light">
      <div class="container" >
          <p class="m-0 text-center">Copyright &copy; 2022 미라클레터 </p>
          <p class="m-0 text-center text-muted">주소:서울시 중구 퇴계로 190(필동1가)&nbsp;|&nbsp;전화:02-2000-2167&nbsp;|&nbsp;이메일:miraklelab@mk.co.kr</p>
          <div class="m-0 text-center text-muted">
              <a class="text-muted" style="text-decoration:none; font-weight:bold;">개인정보처리방침</a>
              <span>&nbsp;| &copy; 매경미디어그룹 매일경제. All rights reserved.</span>
          </div>
      </div>
    </footer>
  </body>
</html>
