{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
<div class="container my-5" style="width:28rem;">
  <h1 class="text-center mb-3">{% trans "Sign Out" %}</h1>

  <p style="padding-top:30px;">{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-md btn-primary mb-3" type="submit" style="background-color:#02145b;border;border-color:#02145b;">로그아웃</button>
  </form>

</div>
{% endblock %}
