{% extends 'base.html' %}
{% block loginbox %}
{% load static %}

    <!-- body -->
    <div class="container my-5" style="width:20rem;">
        <main class="form-signin">
          <form class="needs-validation" method="POST" novalidate>
          {% csrf_token %}
          {% include 'accounts/form_errors.html' %}
            <h4 class="mb-3 text-center">로그인</h4>

            <div class="form-group mb-3">
                <label for="username" class="form-label">아이디</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="ID" required>
                <div class="invalid-feedback">
                    아이디를 입력하세요.
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                <div class="invalid-feedback">
                    비밀번호를 입력하세요.
                </div>
            </div>
            <div class="form-group mb-3">
                <button class="w-100 btn btn-md btn-primary mb-3" type="submit" style="background-color:#02145b;border;border-color:#02145b;">로그인</button>
            </div>
          </form>

        </main>
    </div>
    <!-- body end-->
{% endblock %}
{% block scripts %}
{% endblock %}