{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="d-flex" style="height:500px;background-color:#DBE2EF;" >

    <div class="container py-5" style="">
        <div class="row">
            <div class="col-lg-9">
                <h3 class="h3 mb-3" style="font-weight:bold;color:#15213B;">"혁신하는 이들을 위한" 미라클레터입니다 📧</h3>
                <p class="mb-3">매경미디어그룹에서  테크 트렌드, 글로벌 트렌드, 재테크 소식, 실리콘밸리 현장 소식을 빠르게 담아,<br> 주 3회 오전 6~7시에 이메일로 보내드려요!<br>미라클 모닝! 같이 시작해봐요!🏃</p>
                <div class="float-start py-4">
                    <button class="btn " style="background-color:#15213B; color:white;" onclick="location.href='https://page.stibee.com/subscriptions/33271'" >구독 하러가기</button>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="{% static 'blog/images/phone.png' %}" width="90%" height="90%">
            </div>

        </div>


    </div>




  </div>

  <div class="container py-5">

    {% if user.is_authenticated %}
    <div class="row">
          <div class="col-md-4 col-lg-3">
            {% include 'blog/category.html' %}
          </div>
          <div class="col-md-8 col-lg-9" id="main-area">
            {% block post_area %}
            {% endblock %}
          </div>
    </div>
    <!-- /.row -->

    {% endif %}
  </div>

{% endblock %}
