{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="img-bg d-flex justify-content-center bg-light" style="height:400px;width:100%;" >
    <div class="row d-inline-flex align-items-center">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="내용을 검색하세요." id="search-input" style="width:650px;height:50px;">
        <span class="input-group-append">
          <button class="btn btn-secondary" type="button" onclick="searchPost();" style="height:50px;" ><i class="fas fa-search"></i></button>
        </span>
      </div>
    </div>
  </div>

  <div class="container py-5">
    {% if user.is_authenticated %}

    <div class="row">

          <div class="col-md-8 col-lg-9" id="main-area">
            {% block post_area %}
            {% endblock %}

          </div>
          <div class="col-md-4 col-lg-3">
            {% include 'blog/category.html' %}
          </div>
    </div>
    <!-- /.row -->

    {% endif %}
  </div>

{% endblock %}
