{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="container py-5">
      <div class="row">
        <div class="col mb-3">
          <h2 class="container">
            <b>뉴스 레터</b>
            {% if search_info %}<small class="text-muted">{{ search_info }}</small>{% endif %}
            {% if category %}<span class="badge bg-secondary">{{ category }}</span>{% endif %}
            {% if tag %}<span class="badge bg-secondary"><i class="fas fa-tags"></i>{{ tag }} ({{ tag.post_set.count }})</span>{% endif %}
          </h2>
        </div>
      </div>

    {% if user.is_authenticated %}
      <div class="row">
        <div class="col-md-8 col-lg-9" id="main-area">
          {% block main_area %}
          {% endblock %}
        </div>
        <div class="col-md-4 col-lg-3">
          {% block side_area %}
          {% endblock %}
        </div>
      </div>
      <!-- /.row -->
    {% endif %}
  </div>

{% endblock %}
