{% extends 'blog/index.html' %}

  {% block main_area %}
      <!-- Newsletter post -->
      <div class="container">
        <div class="row">
          {% if user.is_authenticated %}
              {% if user.is_superuser or user.is_staff %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="btn btn-primary btn-sm float-end" href="/blog/create_post/"
                   role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;글쓰기 </a>
                </div>
              {% endif %}
            {% endif %}
        </div>
        {% if post_list.exists %}
        <div class="row">
          {% for p in post_list %}
            <div class="col-md-6">
              <div class="card my-4" id="post-{{ p.pk }}" >
                {% if p.head_image %}
                  <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image" height="200">
                {% else %}
                  <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}" alt="random_image">
                {% endif %}

                <!-- card body -->
                <div class="card-body">

                  <h5 class="card-title">{{ p.title | truncatechars:20 }}</h5>
                  {% if p.hook_text %}
                    <p class="card-text" style="height:80px;">{{ p.hook_text | truncatewords:15 }}</p>
                  {% endif %}
                  <!-- category -->
                  {% if p.category %}
                  <i class="fas fa-tags"></i>
                    <a class="text-decoration-none" href="{{ tag.get_absolute_url }}"><span class="badge bg-secondary me-1">{{ p.category }}</span></a>
                  <br>
                  <br>
                  {% endif %}
                  <a href="{{ p.get_absolute_url }}" class="btn btn-primary mb-3" style="background-color:#02145b;border;border-color:#02145b;">더보기 &rarr;</a>
                </div>

                <!-- card footer -->
                <div class="card-footer text-muted">
                  <b>작성 일시</b> : {{ p.created_at.date }}<br> <b>작성자</b> :
                  <a href="#">{{ p.author | upper }}</a>
                </div>

              </div>
            </div>
          {% endfor%}
        </div>
        {% else %}
          <h3>아직 게시물이 없습니다.</h3>
        {% endif %}
      </div>

      {% if is_paginated %}
      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        {% endif %}

        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}

  {% endblock %}





