{% extends 'blog/index.html' %}

  {% block post_area %}
    <div class="container" style="padding-top:30px;min-height:800px;">
      <!-- post title -->
      <div class="row ps-3">
        <div class="col">
          <h2 class="container ps-3" >
            {% if categoriess %}<h3>{{ categoriess }}</h3>{% endif %}
            <div class="row">
              <div class="col" style="padding:0;">
                <h3 class="h2 justify-content-start mb-2" style="font-weight:500;">뉴스레터</h3>
              </div>
              <div class="col" style="padding:0;">
                <!-- write button -->
                {% if user.is_authenticated %}
                  {% if user.is_superuser or user.is_staff %}
                    <div class="d-flex justify-content-end mb-2">
                      <a class="btn btn-primary float-end" style="background-color:#606470;border;border-color:#606470;color:white;" href="{% url 'create' %}" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;글쓰기 </a>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>

            {% if search_info %}<h3><small class="text-muted">{{ search_info }}</small></h3>{% endif %}
            {% if category %}<h3><span class="badge bg-secondary">{{ category }}</span></h3>{% endif %}
            {% if tag %}<h3><span class="badge bg-secondary"><i class="fas fa-tags"></i>{{ tag }} ({{ tag.post_set.count }})</span></h3>{% endif %}

          </h2>
        </div>

          <!-- view mode button
          <div class="d-flex flex-nowrap gap-2 justify-content-end pe-4">
            <a class="order-1 btn float-start bg-light" role="button" onclick="myListBtn()"><i class="fas fa-list fa-lg" ></i></a>
            <a class="order-2 btn float-start bg-light" role="button" onclick="myListBtn2()"><i class="fas fa-th-large fa-lg"></i></a>
          </div>
          -->
      </div>

      <!-- Newsletter post -->
      {% if post_list.exists %}

          <div class="box my-3" id="myDiv2">
            <div class="row">
            {% for p in post_list %}
              <div class="col-lg-4">
                <div class="card mb-3" style="height:370px;width:18rem;" >
                  {% if p.head_image %}
                    <a href="{{ p.get_absolute_url }}">
                      <img class="card-img-top border-bottom" src="{{ p.head_image.url }}" alt="{{ p }} head image" height="200">
                    </a>
                  {% else %}
                    <a href="{{ p.get_absolute_url }}">
                      <img class="card-img-top border-bottom" src="https://picsum.photos/seed/{{ p.id }}" alt="random_image" height="200">
                    </a>
                  {% endif %}
                  <!-- card body -->
                  <div class="card-body" >
                    <h6 class="card-title" style="font-weight:bold;height:45px;">{{ p.title | truncatechars:35 }}</h6>
                    <!-- category -->
                    {% if p.tags.exists %}
                    <i class="fas fa-tags"></i>
                      {% for tag in p.tags.iterator %}
                        <a class="text-decoration-none" href="{{ tag.get_absolute_url }}"><span class="badge bg-secondary me-1">{{ tag }}</span></a>
                      {% endfor %}
                    {% endif %}

                  </div>
                  <div class="card-footer">
                    <small class="text-muted">{{ p.pub_date | date:"Y년 m월 d일" }}</small>
                  </div>
                </div>
              </div>
            {% endfor%}
            </div>

          </div>

      {% else %}
        <div class="container" style="height:600px;"><h3>아직 게시물이 없습니다.</h3></div>
      {% endif %}
    </div>

    {% if is_paginated %}
      <!-- Pagination -->
      <ul class="pagination justify-content-center py-5 mb-4">
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; 이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&larr; 이전</a>
        </li>
        {% endif %}

        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">다음 &rarr;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">다음 &rarr;</a>
        </li>
        {% endif %}
      </ul>
    {% endif %}

  {% endblock %}



