{% extends 'blog/index.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
  {{ post.title }} - Blog
{% endblock %}



  {% block content %}

    <div class="container my-5">
      {% if user.is_authenticated and user == post.author %}
          <div class="d-grid gap-2 d-flex justify-content-end mb-2">
            <a class="btn btn-danger " style="color:white;" href="/delete_post/{{ post.pk }}/" data-bs-toggle="modal" data-bs-target="#deletePostModal-{{ post.pk }}" role="button" aria-disabled="true">삭제</a>
            <a class="btn btn-primary " style=" background-color:#00B4D8;border;border-color:#00B4D8;color:white;" href="/update_post/{{ post.pk }}/" role="button" aria-disabled="true">수정</a>
          </div>
          <!-- delete post Modal -->
          <div class="modal fade" id="deletePostModal-{{ post.pk }}" tabindex="-1"
               role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deletePostModalLabel">알림창</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>삭제된 글은 복구할 수 없습니다.</p>
                    <p>삭제하시겠습니까?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <a role="button" class="btn btn-danger" href="/delete_post/{{ post.pk }}/">삭제</a>
                  </div>
                </div>
              </div>
          </div>
      {% endif %}

    </div>

    <div class="container" id="post-area" style="max-width:700px; padding:0;margin-bottom:30px;">

      <!-- Post Content -->
      <p class="d-flex justify-content-center">{{ post.content | safe }}</p>

      <!-- tag -->
      {% if post.tags.exists %}
      <div class="d-flex">
          <i class="fas fa-tags me-2"></i>
          {% for tag in post.tags.all %}
            <h5><a href="{{ tag.get_absolute_url }}" class="badge bg-secondary text-decoration-none me-2">{{ tag }}</a></h5>
          {% endfor %}
          <br/>
          <br/>
      </div>
      {% endif %}
    </div>

    <hr>
    <!-- Comments Form -->
    <div class="container" style="width:40%;">

      <div class="comment-area">
        <div class="card my-4">
          <h5 class="card-header">댓글:</h5>
          <div class="card-body">
            {% if user.is_authenticated %}
            <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
              {% csrf_token %}
              <div class="form-group mb-3">
                {{ comment_form | crispy }}
              </div>
              <button type="submit" class="btn btn-primary float-end">제출</button>
            </form>
            {% else %}
              <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" data-toggle="modal" data-target="#loginModal">로그인 후에 댓글을 남겨주세요.</a>
            {% endif %}
          </div>
        </div>

        {% if post.comment_set.exists %}
          {% for comment in post.comment_set.iterator %}
              <!-- Single Comment -->
              <div class="d-flex mb-4" id="comment-{{ comment.pk }}">
                {% if user.profile.image %}
                  <img class="flex-shrink-0 rounded-circle" src="{{ user.profile.image.url }}"  alt="{{ comment.author }}" width="60px" height="60px">
                {% else %}
                  <img class="flex-shrink-0 rounded-circle" src="https://avatars.dicebear.com/api/avataaars/:seed.svg/{{ user.email }}.png" alt="{{ comment.author }}" width="60px" height="60px">
                {% endif %}
                <div class="flex-grow-1 ms-3">
                  {% if user.is_authenticated and comment.author == user %}
                    <div class="float-end">
                      <a role="button"
                         class="btn btn-info"
                         id="comment-{{ comment.pk }}-update-btn"
                         style="background-color:#00B4D8;border;border-color:#00B4D8;color:white;"
                         href="/update_comment/{{ comment.pk }}/">
                          수정
                      </a>
                      <a role="button"
                         href="#"
                         id="comment-{{ comment.pk }}-delete-modal-btn"
                         class="btn btn-danger"
                         data-bs-toggle="modal" data-bs-target="#deleteCommentModal-{{ comment.pk }}">
                          삭제
                      </a>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1"
                         role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteModalLabel">삭제 할까요?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <del>{{ comment | linebreaks }}</del>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                              <a role="button" class="btn btn-danger" href="/delete_comment/{{ comment.pk }}/">삭제</a>
                            </div>
                          </div>
                        </div>
                    </div>
                  {% endif %}
                  <h5 class="mt-0">{{ comment.author.username }} &nbsp;&nbsp;
                    <small class="h6 text-muted">{% blocktrans with param=comment.created_at|timesince %} {{ param }} {% endblocktrans %}</small>
                  </h5>
                    <p>{{ comment.content | linebreaks }}</p>
                    {% if comment.created_at != comment.modified_at %}
                      <p class="text-muted float-end"><small>Updated : {{ comment.modified_at }}</small></p>
                    {% endif %}
                </div>
              </div>
          {% endfor %}
        {% endif %}
      </div>

    </div>

  {% endblock %}

