{% extends 'blog/index.html' %}

  {% block post_area %}

    <div class="container">
      <!-- post title -->
      <div class="row ps-3">
        <div class="col">
          <h2 class="container ps-3" >
            {% if categoriess %}<h3>{{ categoriess }}</h3>{% endif %}
            <div class="row">
              <div class="col" style="padding:0;">
                <h3 class="h2 justify-content-start mb-2" style="font-weight:500;">뉴스레터</h3>
              </div>
              <div class="col" style="padding:0;">
                <!-- write button -->
                {% if user.is_authenticated %}
                  {% if user.is_superuser or user.is_staff %}
                    <div class="d-flex justify-content-end mb-2">
                      <a class="btn btn-primary float-end" style="background-color:#606470;border;border-color:#606470;color:white;" href="{% url 'create' %}" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;글쓰기 </a>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>

            {% if search_info %}<h3><small class="text-muted">{{ search_info }}</small></h3>{% endif %}
            {% if category %}<h3><span class="badge bg-secondary">{{ category }}</span></h3>{% endif %}
            {% if tag %}<h3><span class="badge bg-secondary"><i class="fas fa-tags"></i>{{ tag }} ({{ tag.post_set.count }})</span></h3>{% endif %}

          </h2>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-md-3 position-relative">
              <select class="form-select" id="ct" name="ct" aria-label="Default select example">
                <option value="all" selected>전체</option>
                  {% for category in categories %}
                    <option value="{{ category.id }}">{{ category }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="col-md-9 position-relative">
              <div class="input-group">
                <input type="text" class="form-control"  id="search-input" name="txt"  placeholder="내용을 검색하세요."  aria-describedby="inputGroup-sizing">
                <span class="input-group-append">
                    <button class="btn btn-secondary" onclick="searchPost();" ><i class="fas fa-search"></i></button>
                </span>
              </div>
            </div>
        </div>
          <!-- view mode button -->
          <div class="d-flex flex-nowrap gap-2 justify-content-end pe-4 mb-3">
            <a class="order-1 btn float-start bg-light" role="button" onclick="myListBtn()"><i class="fas fa-list fa-lg" ></i></a>
            <a class="order-2 btn float-start bg-light" role="button" onclick="myListBtn2()"><i class="fas fa-th-large fa-lg"></i></a>
            <a class="order-3 btn float-start bg-light" role="button" onclick="myListBtn3()"><i class="fas fa-window-maximize fa-lg"></i></a>
          </div>



      </div>

      <!-- Newsletter post -->
      {% if post_list.exists %}
          <div class="list-group mt-3 mb-4" id="myDiv">
             {% for p in post_list %}
            <a href="{{ p.get_absolute_url }}" class="list-group-item border-0">
              <div class="card border-0">
                  <div class="row g-0">
                    <div class="col-md-3">
                      {% if p.head_image %}
                        <img class="img-fluid rounded border" src="{{ p.head_image.url }}" alt="{{ p }} head image" style="width:100%; height:140px;">
                      {% else %}
                        <img class="img rounded border" src="https://picsum.photos/seed/{{ p.id }}" alt="random_image" width="180" height="120">
                      {% endif %}
                    </div>
                    <div class="col-md-9">
                        <!-- card body -->
                        <div class="card-body" style="padding-left:15px;padding-right:0;" >
                          <h6 class="card-title" style="font-weight:bold;">{{ p.title | truncatechars:50 }}</h6>
                          {% if p.hook_text %}
                            <p class="card-text">{{ p.hook_text | truncatechars:55 }}</p>
                          {% endif %}
                            <p class="card-text"><small class="text-muted">{{ p.pub_date | date:"Y년 m월 d일" }}</small></p>
                        </div>
                    </div>
                  </div>
                </div>
            </a>
            {% endfor%}
          </div>

          <div class="box my-3" id="myDiv2" style="display:none;">
            <div class="row">
            {% for p in post_list %}
              <div class="col-lg-4">
                <div class="card mb-3"  style="height:460px;width:18rem;" >
                  {% if p.head_image %}
                    <img class="card-img-top border-bottom" src="{{ p.head_image.url }}" alt="{{ p }} head image" height="200">
                  {% else %}
                    <img class="card-img-top border-bottom" src="https://picsum.photos/seed/{{ p.id }}" alt="random_image" height="200">
                  {% endif %}
                  <!-- card body -->
                  <div class="card-body" >
                    <h6 class="card-title" style="font-weight:bold;">{{ p.title | truncatechars:20 }}</h6>
                    {% if p.hook_text %}
                      <p class="card-text" style="height:75px;">{{ p.hook_text | truncatechars:56 }}</p>
                    {% endif %}
                    <!-- category -->
                    {% if p.tags.exists %}
                    <i class="fas fa-tags"></i>
                      {% for tag in p.tags.iterator %}
                        <a class="text-decoration-none" href="{{ tag.get_absolute_url }}"><span class="badge bg-secondary me-1">{{ tag }}</span></a>
                      {% endfor %}
                    {% endif %}
                    <a href="{{ p.get_absolute_url }}" class="btn btn-primary mb-3" style="background-color:#112D4E;border;border-color:#112D4E;position:absolute;top:365px;right:20px;">더보기 &rarr;</a>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">{{ p.pub_date | date:"Y년 m월 d일" }}</small>
                  </div>
                </div>
              </div>
            {% endfor%}
            </div>

          </div>
          <div class="box" id="myDiv3" style="display:none;">
            {% for p in post_list %}
                <div class="card my-3 w-100" style="height:630px;" >
                  {% if p.head_image %}
                    <img class="card-img-top border-bottom" src="{{ p.head_image.url }}" alt="{{ p }} head image" height="330">
                  {% else %}
                    <img class="card-img-top border-bottom" src="https://picsum.photos/seed/{{ p.id }}" alt="random_image" height="200">
                  {% endif %}
                  <!-- card body -->
                  <div class="card-body" >
                    <h6 class="card-title" style="font-weight:bold;">{{ p.title | truncatechars:40 }}</h6>
                    {% if p.hook_text %}
                      <p class="card-text" style="height:75px;">{{ p.hook_text }}</p>
                    {% endif %}
                    <!-- category -->
                    {% if p.tags.exists %}
                    <i class="fas fa-tags"></i>
                    {% for tag in p.tags.iterator %}
                      <a class="text-decoration-none" href="{{ tag.get_absolute_url }}"><span class="badge bg-secondary me-1">{{ tag }}</span></a>
                    {% endfor %}
                    {% endif %}
                    <br>
                    <br>
                    <a href="{{ p.get_absolute_url }}" class="btn btn-primary mb-3 float-start" style="background-color:#112D4E;border;border-color:#112D4E;">더보기 &rarr;</a>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">{{ p.pub_date | date:"Y년 m월 d일" }}</small>
                  </div>
                </div>
            {% endfor%}
          </div>
      {% else %}
        <div class="container" style="height:600px;"><h3>아직 게시물이 없습니다.</h3></div>
      {% endif %}
    </div>

    {% if is_paginated %}
      <!-- Pagination -->
      <ul class="pagination justify-content-center py-5 mb-4">
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        {% endif %}

        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
        {% endif %}
      </ul>
    {% endif %}

  {% endblock %}




