<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>About 몽희입니다.</title>
         <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
         <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">
         <script src="https://kit.fontawesome.com/1aab6475fb.js" crossorigin="anonymous"></script>
    </head>
    <body>

    {% include 'blog/navbar.html' %}
    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-8">
                    <h1>안녕하세요. 몽희입니다.</h1>
                    <br/>
                    <p class="lead">
                        나이: 5개월<br/>
                        성별: 남아<br/>
                        특기: 손내밀기
                    </p>
                    <ul>
                        <li>한글입숨</li>
                        <ul>
                            <li>피어나기 것은 미묘한 뜨고, 이것이야말로 칼이다. 같은 이것이야말로 놀이 것은 그들의 천하를 목숨이 싶이 있다.</li>
                            <li>인생의 길을 발휘하기 힘차게 노래하며 아니다. 얼음 청춘의 가지에 거친 것이다.</li>
                        </ul>
                        <li>EDUCATION</li>
                        <ul>
                            <li>그림자는 황금시대를 가슴이 끓는다. 생명을 거선의 사는가 쓸쓸하랴? 그들은 피가 바로 우리의 것은 몸이 수 황금시대를 있는가?</li>
                            <li>이상 산야에 위하여, 길지 관현악이며, 커다란 예가 듣기만 칼이다. 같은 사람은 위하여서 반짝이는 이 얼마나 아니다.</li>
                            <li>안고, 오아이스도 위하여서 길지 끓는다. 풍부하게 동산에는 그들을 것이다.보라, 이상은 주는 더운지라 얼음에 보라.</li>
                        </ul>
                        <li>LOREM IPSUM</li>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Nullam fringilla nunc sed dolor porta, id consequat tellus tempus.</li>
                            <li>Vestibulum luctus massa at urna consequat mollis.</li>
                        </ul>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="{% static 'single_pages/images/mong.jpeg' %}">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light margin-for-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>PORTFOLIO</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#monghe1">
                        <img class="card-img-top" height="250px" src="{% static 'single_pages/images/photo1.jpeg' %}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">마카오 성바울 성</h5>
                        <p>마카오 성바울 성당 앞에서 ..</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#monghe2">
                        <img class="card-img-top" height="250px" src="{% static 'single_pages/images/photo2.jpeg' %}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">홍콩 피크 타워에서 산 젤라또 아이스크림</h5>
                        <p>맛은 기억이 안난다.. 아마 새콤 달콤한 맛 </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#monghe3">
                        <img class="card-img-top" height="250px" src="{% static 'single_pages/images/photo3.jpeg' %}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">후쿠오카 갬성 거리</h5>
                        <p>후쿠오카 주오구 이마이즈미 약간 쌀쌀하면서도 포근한 날씨</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="monghe1" tabindex="-1" role="dialog" aria-labelledby="pycon2017ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pycon2017ModalLabel">파이썬으로 통계업무 자동화하기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid" src="{% static 'single_pages/images/mong1.jpeg' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>Python, Django, Pandas, python-docx로 통계업무 자동화한 내용을 파이콘에서 발표했습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="monghe2" tabindex="-1" role="dialog" aria-labelledby="inflearnDjangoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id=" inflearnDjangoModalLabel">파이썬 사용자를 위한 웹개발 입문 A to Z Django + Bootstrap</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid" src="{% static 'single_pages/images/mong2.jpeg' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>파이썬 초보를 대상으로 한 웹개발 강좌입니다. 인프런에서 서비스하고 있습니다.</p>
                            <button type="button" class="btn btn-light"><i class="fas fa-chalkboard-teacher"></i> 인프런</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="monghe3" tabindex="-1" role="dialog" aria-labelledby="automationPythonModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id=" automationPythonModalLabel">직장인을 위한 프로그래밍 입문과 업무자동화 활용</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid" src="{% static 'single_pages/images/mong3.jpeg' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>코딩에 대해 아무것도 모르는 직장인들도 쉽게 프로그래밍의 기본 개념과 문법을 실습을 통해 배우고, 파일 입출력, 엑셀 데이터 처리, MS-word 문서 자동으로 만들기, 그래프 그리기, 웹스크래핑 등을 배웁니다.</p>
                            <button type="button" class="btn btn-light"><i class="fas fa-chalkboard-teacher"></i> 인프런</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-bottom">
         {% include 'blog/footer.html' %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    </body>
</html>