 <!-- Footer -->

  <footer class="py-5 bg-light">

    <div class="container" >
        <p class="m-0 text-center">Copyright &copy; 2022 미라클레터 </p>
        <p class="m-0 text-center text-muted">주소:서울시 중구 퇴계로 190(필동1가)&nbsp;|&nbsp;전화:02-2000-2167&nbsp;|&nbsp;이메일:miraklelab@mk.co.kr</p>
        <div class="m-0 text-center text-muted">
            <a class="text-muted" style="text-decoration:none; font-weight:bold;">개인정보처리방침</a>
            <span>&nbsp;| &copy; 매경미디어그룹 매일경제. All rights reserved.</span>
        </div>
    </div>
  </footer>