{% load socialaccount %}
{% load static %}
  <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container ">
            <a class="navbar-brand" href="/"><img src="{% static 'single_pages/images/black_logo.png' %}" width="134" height="26"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/"></a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href=""></a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href=""></a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="/accounts/login/"></a>
                </li>
              </ul>
              <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.profile.image %}
                                <img class="rounded-circle" src="{{ user.profile.image.url }}" width="25px" alt="">
                            {% else %}
                                <img class="rounded-circle" src="https://avatars.dicebear.com/api/avataaars/:seed.svg/{{ user.email }}.png" width="25px" alt="">
                            {% endif %}
                            &nbsp;
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/accounts/logout/">로그아웃</a>
                            <a class="dropdown-item" href="/accounts/password/reset/">비밀번호 변경</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal" >로그인</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
  </nav>


<!-- Modal -->
<div class="modal" tabindex="-1" id="loginModal" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel"><i class="fas fa-sign-in-alt"></i>&nbsp Log In</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                    <a role="button" class="mb-2 btn btn-outline-dark btn-block" href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>&nbsp&nbsp Log in with Google</a>
                    <a role="button" class="btn btn-outline-dark btn-block" href="/accounts/login/"><i class="far fa-envelope"></i>&nbsp&nbsp Log in with E-mail</a>
                </div>
                <div class="col-md-6">
                    <a role="button" class="btn btn-outline-dark btn-block" href="/accounts/signup/"><i class="far fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail</a>
                </div>
              </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

