{% extends 'pay/index.html' %}
{% load static %}
{% block content %}

  <div class="container" style="width:100%; min-height:800px; margin:auto;">

    {% if user.is_authenticated %}
    <div class="row">
       <h3 class="text-center py-5 mb-3">결제가 완료되었습니다!</h3>
        <div class="container d-flex justify-content-center">
            <div class="col-5 p-5">
                <h4 class="text-center my-5">주문자 정보</h4>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th scope="row">주문번호</th>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">결제승인시간</th>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">상품명</th>
                      <td>미라클레터 멤버쉽 1개월</td>
                    </tr>
                    <tr>
                      <th scope="row">주문자</th>
                      <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                      <th scope="row">이메일</th>
                      <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                      <th scope="row">금액</th>
                      <td>4900원</td>
                    </tr>
                  </tbody>
                </table>
                <a type="button" class="btn btn-primary" href="{% url 'news' %}">뉴스레터 보러가기 &rarr;</a>
            </div>

        </div>

    </div>
    <!-- /.row -->

    {% endif %}
  </div>

{% endblock %}
